@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: "ExoTooBold";
  src: url("./../fonts/AnyConv.com__Exo2-Bold.woff2") format("woff2"), url("./../fonts/AnyConv.com__Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiBold";
  src: url("./../fonts/AnyConv.com__Exo2-SemiBold.woff2") format("woff2"), url("./../fonts/AnyConv.com__Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiMed";
  src: url("./../fonts/AnyConv.com__Exo2-Medium.woff2") format("woff2"), url("./../../fonts/AnyConv.com__Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: var(--any-font);
  font-size: var(--main-size);
  color: var(--color-gray);
  background-color: var(--color-light);
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--main-font);
  font-size: var(--info-size);
}

.wrapper {
  display: flex;
}

:root {
  --color-light: #fff;
  --color-dark: #1c1d22;
  --color-gray: rgba(28, 29, 34, 0.5);
  --color-orange: #ffa048;
  --color-red: #ff7979;
  --color-green: #78d700;
  --color-gray-alt: #888da7;
  --color-gray-ligth: rgb(136, 141, 167, 0.1);
  --main-font: "ExoTooSemiMed", sans-serif;
  --title-font: "ExoTooBold", sans-serif;
  --any-font: "ExoTooSemiBold", sans-serif;
  --main-size: 16px;
  --info-size: 14px;
}

.sider {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 70px 22px 34px 22px;
}
.sider__image {
  max-width: 24px;
}
.sider__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.sider__list {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.sider__link {
  border: 1px solid aqua;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.projects {
  width: 325px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.projects__top h1 {
  font-size: 30px;
  color: var(--color-dark);
}
.projects__top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(28, 29, 34, 0.08);
  color: var(--color-gray);
  font-size: 20px;
}
.projects__main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.projects__main-chapter {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  align-items: center;
}
.projects__main-chapter::after {
  content: "";
  position: absolute;
  width: 7px;
  background-color: var(--color-gray);
  height: 1px;
  right: 0;
  rotate: -45deg;
}
.projects__main-chapter::before {
  content: "";
  position: absolute;
  width: 7px;
  background-color: var(--color-gray);
  height: 1px;
  right: 0px;
  top: 8px;
  rotate: 225deg;
}
.projects__main-title {
  color: var(--color-dark);
  font-family: var(--title-font);
}
.projects__main-btn {
  padding: 5px 10px;
  position: relative;
  color: var(--color-gray);
  border-radius: 18px;
  transition: all 0.2s;
}
.projects__main-btn::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  left: -30px;
  top: 50%;
  background-color: rgba(28, 29, 34, 0.1);
}
@media (hover: hover) {
  .projects__main-btn:hover {
    background-color: var(--color-gray-ligth);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .projects__main-btn:active {
    background-color: var(--color-gray-ligth);
    color: var(--color-dark);
  }
}
.projects__acc {
  overflow: hidden;
}
.projects__main-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid rgba(28, 29, 34, 0.1);
  padding-left: 30px;
  padding-block: 10px;
}
.projects__theme {
  width: 100%;
  display: flex;
  padding: 4px;
}
.projects__main-chapter.active::after {
  content: "";
  position: absolute;
  width: 7px;
  background-color: black;
  height: 1px;
  right: 0;
  rotate: 220deg;
}
.projects__main-chapter.active::before {
  content: "";
  position: absolute;
  width: 7px;
  background-color: black;
  height: 1px;
  right: 0px;
  top: 5px;
  rotate: -220deg;
}

.projects__main-btn.active {
  background-color: var(--color-gray-ligth);
  color: var(--color-dark);
}

.ant-space,
.ant-switch {
  width: 100%;
  height: 30px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
.projects__acc {
  display: none;
}

.projects__acc.active {
  display: block;
  animation: slideIn 0.5s;
}

.projects__acc.deactive {
  display: block;
  animation: slideOut 0.3s;
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=main.css.map */