@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: "ExoTooBold";
  src: url("./../fonts/AnyConv.com__Exo2-Bold.woff2") format("woff2"), url("./../fonts/AnyConv.com__Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiBold";
  src: url("./../fonts/AnyConv.com__Exo2-SemiBold.woff2") format("woff2"), url("./../fonts/AnyConv.com__Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiMed";
  src: url("./../fonts/AnyConv.com__Exo2-Medium.woff2") format("woff2"), url("./../../fonts/AnyConv.com__Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: var(--any-font);
  font-size: var(--main-size);
  color: var(--color-gray);
  background-color: var(--color-light);
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--main-font);
  font-size: var(--info-size);
}

.wrapper {
  display: flex;
}

:root {
  --color-light: #fff;
  --color-dark: #1c1d22;
  --color-gray: rgba(28, 29, 34, 0.5);
  --color-orange: #ffa048;
  --color-red: #ff7979;
  --color-green: #78d700;
  --color-gray-alt: #888da7;
  --color-gray-ligth: rgb(136, 141, 167, 0.1);
  --color-gray-any: rgba(255, 255, 255, 0.5);
  --main-font: "ExoTooSemiMed", sans-serif;
  --title-font: "ExoTooBold", sans-serif;
  --any-font: "ExoTooSemiBold", sans-serif;
  --main-size: 16px;
  --info-size: 14px;
}

.sider {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 70px 22px 34px 22px;
}
.sider__image {
  max-width: 24px;
}
.sider__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.sider__list {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.sider__link {
  border: 1px solid aqua;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.projects {
  width: 325px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  box-shadow: 14px -2px 19px -7px rgba(34, 35, 39, 0.11);
}
.projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.projects__top h1 {
  font-size: 30px;
  color: var(--color-dark);
}
.projects__top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(28, 29, 34, 0.08);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: var(--color-gray);
  font-size: 19px;
}
.projects__main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.projects__main-chapter {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  align-items: center;
}
.projects__main-chapter::after {
  content: "";
  position: absolute;
  width: 7px;
  background-color: var(--color-gray);
  height: 1px;
  right: 0;
  rotate: -45deg;
}
.projects__main-chapter::before {
  content: "";
  position: absolute;
  width: 7px;
  background-color: var(--color-gray);
  height: 1px;
  right: 0px;
  top: 8px;
  rotate: 225deg;
}
.projects__main-title {
  color: var(--color-dark);
  font-family: var(--title-font);
}
.projects__main-btn {
  padding: 5px 10px;
  position: relative;
  color: var(--color-gray);
  border-radius: 18px;
  transition: all 0.2s;
}
.projects__main-btn::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  left: -30px;
  top: 50%;
  background-color: rgba(28, 29, 34, 0.1);
}
@media (hover: hover) {
  .projects__main-btn:hover {
    background-color: var(--color-gray-ligth);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .projects__main-btn:active {
    background-color: var(--color-gray-ligth);
    color: var(--color-dark);
  }
}
.projects__acc {
  overflow: hidden;
}
.projects__main-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 2px solid rgba(28, 29, 34, 0.1);
  padding-left: 30px;
  padding-block: 10px;
}
.projects__theme {
  width: 100%;
  display: flex;
  padding: 4px;
}
.projects__main-chapter.active::after {
  content: "";
  position: absolute;
  width: 7px;
  background-color: black;
  height: 1px;
  right: 0;
  rotate: 220deg;
}
.projects__main-chapter.active::before {
  content: "";
  position: absolute;
  width: 7px;
  background-color: black;
  height: 1px;
  right: 0px;
  top: 5px;
  rotate: -220deg;
}

.projects__main-btn.active {
  background-color: var(--color-gray-ligth);
  color: var(--color-dark);
}

.ant-space,
.ant-switch {
  width: 100%;
  height: 30px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
.projects__acc {
  display: none;
}

.projects__acc.active {
  display: block;
  animation: slideIn 0.5s;
}

.projects__acc.deactive {
  display: block;
  animation: slideOut 0.3s;
}

.hidden {
  display: none !important;
}

.theme__label {
  position: relative;
  width: 265px;
  height: 46px;
  background-color: rgba(28, 29, 34, 0.04);
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.5s;
}
.theme__label:after {
  content: "";
  width: 127px;
  height: 34px;
  position: absolute;
  top: 6px;
  left: 5px;
  background: #fff;
  border-radius: 18px;
  transition: all 0.5s;
}
.theme__label span {
  position: absolute;
  width: 120px;
  top: 20px;
  z-index: 100;
  top: 10px;
  display: flex;
  gap: 5px;
}
.theme__label .ligth__btn {
  left: 40px;
  fill: #000;
  transition: 0.3s;
}
.theme__label .dark__btn {
  right: -25px;
  fill: #fff;
  transition: 0.3s;
}

.darkmode__toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + .theme__label {
  background: rgba(34, 35, 39, 0.9);
}

input:checked + .theme__label::after {
  left: 243px;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.06);
}

.theme__label:active::after {
  width: 140px;
}

input:checked + .theme__label .ligth__btn {
  fill: #7e7e7e;
}

input:checked + .theme__label .dark__btn {
  fill: #fff;
}

.wrapper.dark .projects {
  background-color: #222327;
}
.wrapper.dark .projects__top h1,
.wrapper.dark .projects__main-title.active {
  color: var(--color-light);
}
.wrapper.dark .projects__main-title.deactive,
.wrapper.dark .projects__acc p,
.wrapper.dark .projects__acc button {
  color: var(--color-gray-any);
}
.wrapper.dark .projects__main-list {
  border-left: 2px solid var(--color-gray-any);
}
.wrapper.dark .projects__main-btn::before {
  background-color: var(--color-gray-any);
}
.wrapper.dark .projects__main-chapter::after,
.wrapper.dark .projects__main-chapter::before {
  background-color: var(--color-gray-any);
}
.wrapper.dark .projects__top-btn {
  color: var(--color-gray-any);
  background-color: rgba(255, 255, 255, 0.08);
}
.wrapper.dark .theme__label {
  background-color: rgba(255, 255, 255, 0.04);
}
.wrapper.dark input:checked + .theme__label::after {
  background-color: rgba(255, 255, 255, 0.06);
}

.base {
  width: 100%;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.base__top {
  display: flex;
  flex-direction: column;
}
.base__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 43px;
}
.base__header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.base__header-icons__date {
  display: flex;
  gap: 11px;
}
.base__view {
  display: flex;
  border-bottom: 1px solid rgba(28, 29, 34, 0.08);
  margin-bottom: 20px;
}
.base__view-board, .base__view-add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline: 14px;
  padding-bottom: 19px;
}
@media (hover: hover) {
  .base__view-board:hover::after, .base__view-add:hover::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    transition: all 2s;
    background: var(--color-dark);
    height: 1px;
  }
}
@media (hover: none) {
  .base__view-board:active::after, .base__view-add:active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    transition: all 2s;
    background: var(--color-dark);
    height: 1px;
  }
}
.base__view-board.base__selected::after, .base__view-add.base__selected::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  transition: all 2s;
  background: var(--color-dark);
  height: 1px;
}
.base__view-board img, .base__view-add img {
  width: 18px;
  height: 24px;
}
.base__view-board span, .base__view-add span {
  font-size: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(28, 29, 34, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);
}
.base__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  gap: 22px;
}
.base__main-tasks {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.base__main-new {
  padding: 22px 16px 16px 16px;
  border: 2px dashed rgba(28, 29, 34, 0.08);
  border-radius: 12px;
  width: 100%;
}
.base__main-new__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.base__main-new__top p {
  font-family: var(--any-font);
  display: flex;
  align-items: center;
  gap: 3px;
}
.base__main-new__text {
  color: var(--color-dark);
}
.add__task {
  display: flex;
  gap: 6px;
  align-items: center;
}

.button__add {
  font-size: 17px;
  font-weight: 700;
  color: var(--color-gray);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(28, 29, 34, 0.08);
}
.base__add {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.base__add-btn {
  padding: 8px 8px;
  background-color: rgba(120, 215, 0, 0.5);
  border-radius: 17px;
  transition: all 0.2s;
}
@media (hover: hover) {
  .base__add-btn:hover {
    background-color: rgba(120, 215, 0, 0.9);
    transform: translateY(-2px);
  }
}
@media (hover: none) {
  .base__add-btn:active {
    background-color: rgba(120, 215, 0, 0.9);
    transform: translateY(-2px);
  }
}
.base__add-new {
  width: 50%;
}
.base__add-title {
  color: var(--color-dark);
}
.base__add-title__input {
  width: 200px;
  border: 2px solid rgba(28, 29, 34, 0.06);
  border-radius: 8px;
}
.base textarea {
  max-height: 133px !important;
  padding: 5px;
  max-width: 200px;
  min-width: 200px;
  min-height: 36px;
  height: 36px;
}
.base h3 {
  padding-bottom: 17px;
}
.base h4 {
  padding-bottom: 10px;
}
.base__add-line {
  padding-bottom: 30px;
}
.base__add-progress {
  max-width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.base__pattern-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  border: 2px dashed rgba(28, 29, 34, 0.08);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}

.task {
  width: 100%;
  padding: 20px;
  border: 2px solid rgba(28, 29, 34, 0.06);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.task__info {
  padding-bottom: 22px;
}
.task__info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark);
}
.task__info-text {
  line-height: 1;
}
.task__progress {
  padding-bottom: 20px;
}
.task__progress-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.task__progress-count__text {
  display: flex;
}
.task__progress-count__text p {
  font-family: var(--any-font);
}
.task__progress-count__counter {
  font-size: 14px;
  color: var(--color-dark);
}
.task__progress-line {
  width: 70%;
  position: relative;
  background: var(--color-red);
  border-radius: 8px;
  height: 4px;
}
.task__date-now {
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 30px;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 17px;
  background: rgba(136, 141, 167, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__progress-line__all {
  position: absolute;
  left: 0;
  top: 0px;
  background: rgba(28, 29, 34, 0.08);
  width: 100%;
  height: 4px;
  border-radius: 8px;
}

.task__line-wrapper {
  position: relative;
  max-width: 100%;
}

.line__red {
  background: var(--color-red);
}
.line__orange {
  background: var(--color-orange);
}
.line__green {
  background: var(--color-green);
}/*# sourceMappingURL=main.css.map */