.base {
  transition: all 0.8s;
  width: 100%;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px;
  }

  &__header-welcome {
  }

  &__header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    &__date {
      display: flex;
      gap: 11px;
    }
  }

  &__view {
    display: flex;
    border-bottom: 2px solid rgba(28, 29, 34, 0.08);
    margin-bottom: 20px;
  }

  &__view-board,
  &__view-add {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 14px;
    padding-bottom: 19px;

    @include hover {
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        transition: all 2s;
        background: var(--color-dark);
        height: 2px;
      }
    }
    &.base__selected {
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        transition: all 2s;
        background: var(--color-dark);
        height: 2px;
      }
    }
    img {
      width: 18px;
      height: 24px;
    }
    span {
      font-size: 17px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: rgba(28, 29, 34, 0.08);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-gray);
    }
  }

  &__view-add {
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 22px;
    &-tasks {
      display: flex;
      flex-direction: column;
    }
  }

  &__main-new {
    padding: 22px 16px 16px 16px;
    border: 2px dashed rgba(28, 29, 34, 0.08);
    border-radius: 12px;
    width: 100%;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      p {
        font-family: var(--any-font);
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
    &__text {
      color: var(--color-dark);
    }
  }

  &__main-todo {
  }

  &__main-progress {
  }

  &__main-done {
  }
}
.add {
  &__task {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}
.button {
  &__add {
    font-size: 19px;
    font-weight: 700;
    color: var(--color-gray);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 29, 34, 0.08);
  }

  &__add-progress {
  }

  &__add-done {
  }
}
//add

.base {
  &__add {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    &-btn {
      padding: 8px 8px;
      background-color: rgba(120, 215, 0, 0.5);
      border-radius: 17px;
      &:disabled {
        @include hover {
          cursor: default;
          transform: none;
          background-color: rgba(120, 215, 0, 0.5);
        }
      }

      transition: all 0.2s;
      @include hover {
        background-color: rgba(120, 215, 0, 0.9);
        transform: translateY(-2px);
      }
    }
  }

  &__add-new {
    width: 50%;
  }

  &__add-title {
    color: var(--color-dark);

    &__input {
      width: 200px;

      border: 2px solid rgba(28, 29, 34, 0.06);
      border-radius: 8px;
    }
  }

  textarea {
    max-height: 133px !important;
    padding: 5px;
    max-width: 200px;
    min-width: 200px;
    min-height: 36px;
    height: 36px;
  }
  h3 {
    padding-bottom: 17px;
  }
  h4 {
    padding-bottom: 10px;
  }

  &__add-header {
  }

  &__add-text {
  }

  &__add-line {
    padding-bottom: 30px;
  }

  &__add-btn {
  }

  &__add-progress {
    width: 50%;
  }
}
.field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.base__pattern-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  border: 2px dashed rgba(28, 29, 34, 0.08);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}

.animated__edit {
  animation-name: leaf-odd-grow;
  animation-duration: 2s;
}

@keyframes leaf-odd-grow {
  0% {
    border: 2px dashed var(--color-red);
    transform: scale(0.7);
  }

  75% {
    border: 2px dashed var(--color-orange);
    transform: scale(1.03);
  }

  100% {
    border: 2px dashed rgba(28, 29, 34, 0.08);
    transform: scale(1);
  }
}

.dis {
  opacity: 0.7;
}
.drop__area {
  width: 100%;
  height: 200px;
  columns: #dcdcdc;
  border: 1px dashed #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-block: 15px;
  opacity: 1;
  transition: all 0.2s;
}
.hide__drop {
  opacity: 0;
}
.opacity__zero {
  opacity: 0;
}
@include dark {
  .base__header-welcome h3 {
    color: var(--color-light);
  }
  .base {
    background-color: rgb(41, 43, 49);
  }
  .base__view-board {
    color: var(--color-light);
  }
  .base__view-board.base__selected::after,
  .base__view-add.base__selected::after {
    background: var(--color-light);
  }
  .base__view-board,
  .base__view-add {
    @include hover {
      &::after {
        background: var(--color-light);
      }
    }
  }
  .base__main-new {
    background-color: rgb(36, 38, 44);
  }
  .base__main-new__top p,
  .task__info-text,
  .task__progress-count__text p,
  .task__date-now {
    color: var(--color-gray-any);
  }
  .base h4,
  .task__progress-count__counter {
    color: var(--color-light);
  }
  .task,
  .button__add {
    background-color: rgb(41, 43, 49);
  }
  .button__add {
    color: var(--color-gray-any);
  }
}

// @keyframes slideIn {
//   from {
//     transform: translateX(-100%);
//     opacity: 0;
//     visibility: hidden;
//   }
//   to {
//     transform: translateX(0);
//     opacity: 1;
//     visibility: visible;
//   }
// }
// .base {
//   animation: slideIn 0.5s;
// }
