.projects {
  width: 325px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  -webkit-box-shadow: 14px -2px 19px -7px rgba(34, 35, 39, 0.11);
  -moz-box-shadow: 14px -2px 19px -7px rgba(34, 35, 39, 0.11);
  box-shadow: 14px -2px 19px -7px rgba(34, 35, 39, 0.11);

  @include desktop {
    width: 255px;
    padding: 13px 23px 23px 23px;
  }
  @include tablet {
    display: none;
    transition: all 0.5s;
    position: absolute;
    height: 100vh;
    z-index: 111;
    background: #fff;
  }
  @include mobile {
    width: 215px;
    padding: 19px 15px 21px 15px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    h1 {
      font-size: 30px;
      color: var(--color-dark);
      @include mobile {
        font-size: 28px;
      }
    }
  }

  &__top-btn {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 29, 34, 0.08);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: var(--color-gray);
    font-size: 19px;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__main-chapter {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: start;
    position: relative;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      background-color: var(--color-gray);
      height: 1px;
      right: 0;
      rotate: -45deg;
      @include mobile {
        bottom: 7px;
      }
      @include mobile-s {
        bottom: 5px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      background-color: var(--color-gray);
      height: 1px;
      right: 0px;
      top: 8px;
      rotate: 225deg;
    }
  }
  &__main-title {
    color: var(--color-dark);
    font-family: var(--title-font);
  }

  &__main-btn {
    padding: 5px 10px;
    position: relative;
    color: var(--color-gray);
    border-radius: 18px;
    transition: all 0.2s;

    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 2px;
      left: -30px;
      top: 50%;
      background-color: rgba(28, 29, 34, 0.1);
    }
    @include hover {
      background-color: var(--color-gray-ligth);
      color: var(--color-dark);
    }
  }

  &__acc {
    overflow: hidden;
  }

  &__main-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 2px solid rgba(28, 29, 34, 0.1);
    padding-left: 30px;
    padding-block: 10px;
  }

  &__theme {
    width: 100%;
    display: flex;
    padding: 4px;
    @include mobile {
      padding: 6px;
    }
  }
}

.projects__main-chapter.active {
  &::after {
    content: "";
    position: absolute;
    width: 7px;
    background-color: black;
    height: 1px;
    right: 0;
    rotate: 220deg;
  }
  &::before {
    content: "";
    position: absolute;
    width: 7px;
    background-color: black;
    height: 1px;
    right: 0px;
    top: 5px;
    rotate: -220deg;
  }
}

.projects__main-btn.active {
  background-color: var(--color-gray-ligth);
  color: var(--color-dark);
}

.ant-space,
.ant-switch {
  width: 100%;
  height: 30px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    display: block;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes opacityProjects {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects__acc {
  display: none;
}

.projects__acc.active {
  display: block;
  animation: slideIn 0.5s;
}

.projects__acc.deactive {
  animation: slideOut 0.3s;
}
.hidden {
  display: none !important;
}

.theme__label {
  position: relative;
  width: 265px;
  height: 46px;
  background-color: rgba(28, 29, 34, 0.04);
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.5s;
  &:after {
    content: "";
    width: 127px;
    height: 34px;
    position: absolute;
    top: 6px;
    left: 5px;
    background: #fff;
    border-radius: 18px;
    transition: all 0.5s;
    @include desktop {
      width: 91px;
      left: 9px;
    }
    @include mobile {
      width: 81px;
      left: 6px;
    }
  }
  span {
    position: absolute;
    width: 120px;
    top: 20px;
    z-index: 100;
    top: 10px;
    display: flex;
    gap: 5px;
  }
  .ligth__btn {
    left: 40px;
    fill: #000;
    transition: 0.3s;
    color: #000;
    @include desktop {
      left: 19px;
    }
    @include mobile {
      left: 13px;
    }
  }
  .dark__btn {
    right: -25px;
    fill: #fff;
    transition: 0.3s;
    @include desktop {
      right: -39px;
    }
    @include mobile {
      right: -50px;
    }
  }
}
.darkmode__toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + .theme__label {
  background: rgba(34, 35, 39, 0.9);
}

input:checked + .theme__label::after {
  left: 243px;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.06);
  @include desktop {
    left: 186px;
  }
  @include mobile {
    left: 160px;
  }
}

.theme__label:active::after {
  width: 140px;
  @include tablet {
    width: 100px;
  }
  @include mobile {
    width: 86px;
  }
}

input:checked + .theme__label .ligth__btn {
  fill: #7e7e7e;
}
input:checked + .theme__label .dark__btn {
  fill: #fff;
}
.wrapper.dark {
  .projects {
    background-color: #222327;
  }
  .projects__top h1,
  .projects__main-title.active {
    color: var(--color-light);
  }

  .projects__main-title.deactive,
  .projects__acc p,
  .projects__acc button {
    color: var(--color-gray-any);
  }
  .projects__main-list {
    border-left: 2px solid var(--color-gray-any);
    @include mobile {
      font-size: 12px;
    }
  }
  .projects__main-btn::before {
    background-color: var(--color-gray-any);
  }
  .projects__main-chapter::after,
  .projects__main-chapter::before {
    background-color: var(--color-gray-any);
  }
  .projects__top-btn {
    color: var(--color-gray-any);
    background-color: rgba(255, 255, 255, 0.08);
  }
  .theme__label {
    background-color: rgba(255, 255, 255, 0.04);
  }
  input:checked + .theme__label::after {
    background-color: rgba(255, 255, 255, 0.06);
  }
  .ligth__btn {
    color: gray;
  }
  .dark__btn {
    color: var(--color-light);
  }
  .projects__main-title {
    color: var(--color-gray-any);
    .projects__main-title.active {
      color: var(--color-light);
    }
  }
}
.no__el {
  opacity: 0.7;
  @include hover {
    background-color: unset;
    cursor: default;
    color: unset;
  }
}
@keyframes projClose {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.projects__mobile-open {
  display: flex;
  animation: opacityProjects 0.5s;
}
.projects.projects__mobile-close {
  animation: projClose 0.5s;
}
