.task {
  width: 100%;
  padding: 20px;
  border: 2px solid rgba(28, 29, 34, 0.06);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  @include desktop {
    padding: 12px;
  }
  @include mobile-s {
    padding: 7px;
  }
  &__info {
    padding-bottom: 22px;
    @include mobile {
      padding-bottom: 15px;
    }
  }

  &__info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark);
    padding-bottom: 10px;
    @include mobile {
      padding-bottom: 1px;
    }
  }

  &__info-text {
    line-height: 1;
  }

  &__progress {
    padding-bottom: 20px;
  }

  &__progress-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    &__text {
      display: flex;
      p {
        font-family: var(--any-font);
      }
    }
    &__counter {
      font-size: 14px;
      color: var(--color-dark);
      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__progress-line {
    width: 70%;
    position: relative;
    background: var(--color-red);
    border-radius: 8px;
    height: 4px;
  }

  &__date-now {
    max-width: fit-content;
    height: 30px;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 17px;
    background: rgba(136, 141, 167, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      padding: 14px 13px;
      font-size: 12px;
    }
  }
}
.opacity__info {
  opacity: 0;
}
.task__progress-line__all {
  position: absolute;
  left: 0;
  top: 0px;
  background: rgba(28, 29, 34, 0.08);
  width: 100%;
  height: 4px;
  border-radius: 8px;
}
.task__line-wrapper {
  position: relative;
  max-width: 100%;
}
.line {
  &__red {
    background: var(--color-red);
  }
  &__orange {
    background: var(--color-orange);
  }
  &__green {
    background: var(--color-green);
  }
}
.task__info-top__btn {
  img {
    @include mobile-s {
      max-width: 22px;
    }
  }
}
.task {
  position: relative;

  &__modal {
    position: absolute;
    right: 0px;
    background-color: #fffafa;
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 8px 13px;
    border-radius: 8px;
    z-index: 4;
    top: 0px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(28, 29, 34, 0.16);
    @include desktop {
      padding: 4px 7px;
    }
  }

  &__modal-exit {
    position: relative;
    width: 25px;
    color: #fc0101;
    right: -43px;
    top: -7px;
    height: 7px;
    @include desktop {
      right: -39px;
      top: -4px;
    }
  }

  &__delete {
    color: var(--color-red);
  }

  &__edit {
    color: var(--color-orange);
  }
}

.task:active {
  cursor: grab;
}
@include dark {
  .task__progress-line__all {
    background: rgba(28, 29, 34, 0.2);
  }
  .task__modal {
    background-color: #232323;
  }
}
