body {
  font-family: var(--any-font);
  font-size: var(--main-size);
  color: var(--color-gray);
  background-color: var(--color-light);
  height: 100vh;
}
h1,
h2,
h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--main-font);
  font-size: var(--info-size);
}
.wrapper {
  display: flex;
}
