@font-face {
  font-family: "ExoTooBold";
  src: url("./../fonts/AnyConv.com__Exo2-Bold.woff2") format("woff2"),
    url("./../fonts/AnyConv.com__Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiBold";
  src: url("./../fonts/AnyConv.com__Exo2-SemiBold.woff2") format("woff2"),
    url("./../fonts/AnyConv.com__Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ExoTooSemiMed";
  src: url("./../fonts/AnyConv.com__Exo2-Medium.woff2") format("woff2"),
    url("./../../fonts/AnyConv.com__Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
